@Master['MasterPage']

@Section['Content']
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @Each
            <tr>
                <td>@Current.Index</td>
                <td>@Current.FirstName</td>
                <td>@Current.LastName</td>
            </tr>
            @EndEach
        </tbody>
    </table>
</div>
@EndSection

